.user-inpur-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-name{
    border: 3px solid lightseagreen;
    border-radius: 6px;
    margin-right: 1em;
}

.middle-container{
  height: 50vh;
}
/* Custom menu */
/* The container must be positioned relative: */
 .custom-select {
    position: relative;
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
  }

  .main-quiz{
    display: none;
  }
  .Quiz-container{
    height: 70vh;
    margin-bottom: 7em;
    border-radius: 10px;
    background-color: darkslategray ;
  }
  .answer-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .question{
    background-color: black;
    border-radius: 10px;
    min-height: 30vh;
    color: white;
    padding: 6px;
  }
  .answers{
    width: 60%;
    min-height: 4em;
    margin-top: 2em;
    border-radius: 7px;
  }

  #danger, #success{
    display: none;
  }